* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: 0;
}

body {
  background: #50c7eb;
  background: linear-gradient(to bottom right, #50c7eb, #c346e3);
}

section.superior {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

section.superior .foto {
  position: relative;
  width: 290px;
  height: 290px;
  margin: 0 auto;
  overflow: hidden;
  top: calc(350px - 290px);
  border: solid 8px;
  border-top-color: #c346e3;
  border-left-color: #c346e3;
  border-bottom-color: #50c7eb;
  border-right-color: #50c7eb;
  border-radius: 50%;
}

section.superior .texto {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 32px;
  position: absolute;
  height: 1em;
  top: calc(175px + 0.5em);
  width: calc(50% - 145px);
  overflow: hidden;
  color: #FFF;
}

section.superior .texto.nome {
  left: 0;
  text-align: right;
  padding-right: 20px;
}

section.superior .texto.proficao {
  right: 0;
  text-align: left;
  padding-left: 20px;
}

.foto > img {
  max-width: 100%;
  max-height: 100%;
}

section.galeria {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 4vw;
  margin-top: 100px;
  background: #f7eaea;
  min-height: 52vw;
}

section.galeria .item-galeria {
  width: 28vw;
  height: 20vw;
  margin: 1vw;
  background-size: cover;
  float: left;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 1px 0px 1px #222;
  transition-duration: 300ms;
}

section.galeria .item-galeria:hover {
  transform: scale(1.1);
}